header, footer{
    background-color: white;
}

header>.container{
    height: 70px;
}

body{
    background-color:#7FFFD4 ;
}

.main_container{
    width: 900px;
    margin:0 auto
}

.cell_easy_mode{
    width: calc(100% / 10);
}

.cell{
    border: 1px solid black;
    aspect-ratio: 1/1;
}
.cell_normal_mode{
    width: calc(100% / 9);
}

.cell_hard_mode{
    width: calc(100% / 7);
}

.active{
    background-color: blue;
}